name: CIRename

on:
  push:
    branches: ['master']
  workflow_dispatch:

jobs:
  build:
    environment: dev
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      
      - name: Setup JDK 11 for Sonar Cloud
        uses: actions/setup-java@v1
        with:
            java-version: 11
      
      - name: Maven Build
        run: mvn clean install -DskipTests=true
      
      - name: Run JUnit Tests
        run: mvn test -Dmaven.test.failure.ignore=true surefire-report:report
      
  deploy:
    needs: build
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - run: echo Run deployment.
        
  test:
    needs: deploy
    name: Test
    runs-on: ubuntu-latest
    steps:
      - run: echo Run deployment.
